* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {margin: 0; background-color: #dcdcdc;}

.title {   background: white;
    padding: 25px 0;
    border-bottom: 1px solid #dbdbdb; text-align: center;}
    
    .title h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    }

.box {
    width: 500px;
    margin: 50px auto;
}

.content1, .content2, .content3, .content4 {
      background-color: white;
    border: 1px solid #dbdbdb;
    margin-bottom: 40px;
    border-radius: 3px;
}

.titulo-img {
     display: flex;border-bottom: 1px solid #dbdbdb;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.title-image h2 {
     margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.titulo-img span { font-size: 13px;
    color: #999;}

.image image {
width: 100%;
    display: block;
}

.description {
     padding: 12px 15px 18px;
}

.description p {
    margin: 0;
    font-size: 14px;
    color: #262626;
    line-height: 1.4;
}





